@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Raleway:wght@800&display=swap');
$homeAndHoverColor : #FFA000;
$backgroundColor : #1e1782;
$inputContainerColor : #292929;

@mixin hover-style{
    transition: all 0.2s ease-in-out;
}
@mixin image-style{
    background-image: url("../../../public/Kep2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin tag-style{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 60px;
    color: $homeAndHoverColor;
}
